/* Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul, li {
    margin: 0;
    padding: 0;
}

p, div {
    line-height: 1.6;
}

figure {
    margin: 0;
}

/* Common Component Styles */

#app {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.site-header {
    flex: 0 0 auto;
    font-size: 14px;
    padding: 16px;
    display: flex;
    align-items: center;
    background: url("/public/img/tile-1.png");
    transition: opacity 0.3s ease;
}

.site-header--hidden {
    opacity: 0;
}

.site-header:hover {
    opacity: 1;
}

.site-header nav {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.site-header__link {
    text-decoration: none;
    background: #e6e6e6;
    padding: 4px 16px;
    color: black;
    line-height: 1;
}

.site-header__link--active {
    color: white;
    background: black;
}

.site-header-spacer {
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .site-header-spacer {
        margin-bottom: 32px;
    }
}

.site-footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 14px;
    font-weight: 100;
    background: url(/public/img/tile-1.png);
}

@media (min-width: 450px) {
    .site-footer {
        flex-direction: row;
        align-items: center;
        height: 68px;
        padding: 0;
        padding-left: 16px;
        background: none;
    }

    .site-footer__copyright {
        order: -1;
    }
}

.site-footer__nav {
    display: flex;
    flex-direction: column;
}


@media (min-width: 450px) {
    .site-footer__nav {
        margin-left: 16px;
        flex-direction: row;
    }
}

.site-footer__elem {
    padding: 8px 0;
    line-height: 1;
}

.site-footer__nav > * {
    margin-right: 16px;
}

.site-footer a {
    color: black;
}


/* Page Component Styles: Portfolio */

.portfolio-entry {
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
}

.portfolio-entry__wrap {
    flex: 1 0 auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
}

.portfolio-entry__intro {
    font-size: 22px;
    margin-bottom: 8px;
}

.project__description {
    color: #333;
    margin-bottom: 16px;
}

.project__section {
    font-size: 20px;
}

.project__subsection {
    font-size: 16px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

* + .project__subsection {
    margin-top: 20px;
}

.project__example {
    display: block;
    flex: 1 0 auto;
    position: relative;
    margin-top: 25px;
    margin-bottom: 60px;
    overflow: hidden;
    background: linear-gradient(to bottom, #333, #111);
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow:
    rgba(0, 0, 0, 0.18) 0px 4px 10px, rgba(0, 0, 0, 0.15) 0px 11px 40px;
}

.project__example--auto {
    width: auto;
    display: block;
}

.project__example--wide {
    width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
}

@media (max-width: 950px) {
    .project__example {
        margin: 32px 0;
        box-sizing: border-box;
        max-width: 100%;
    }

    .project__example-image {

        max-width: 100%;

    }
}

.project__skills {
    display: flex;
    margin-bottom: 16px;
}

.project__skill {
    list-style: none;
    margin-right: 16px;
    background: #aaa;
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 12px;
}

.project__example-video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.project__aspect-wrap {
    width: 100%;
    padding-bottom: 62.5%;
    position: relative;
}

@media (max-width: 950px) {
    .project__example project__example-image {
        width: 100%;
    }
}

.project__example-description {
    font-size: 12px;
    font-style: italic;
    color: white;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.8);
    padding: 6px 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.08);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
}

.project__example-image:hover + .project__example-description {
    opacity: 1;
}

.center-page {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 16px;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/* Page Component Styles: Home */

.home-image-repeat {
    position: relative;
    flex: 0 0 auto;
    transform-style: preserve-3d;
    perspective: 1500px;
    transform: rotateY(-50deg) rotateZ(-30deg);
}

.home-image-repeat img {
    border: 15px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    height; 100%;
}

.home-rotate-wrap {
    transform-style: preserve-3d;
    animation: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.home-page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.home-page__wrap {
    align-items: center;
    display: flex;
    margin: 0 auto;
    flex: 1 1 auto;
    padding: 16px;
    max-width: 992px;
}

.home-image-repeat {
    margin-right: 90px;
    display: none;
}

@media (min-width: 800px) {
    .home-image-repeat {
        display: block;
    }
}

.home-page-content {
    flex: 1 1 auto;
    line-height: 1.6;
}

.home-page-content p {
    color: #666;
}

.home-page-content--nav {
    border-top: 1px solid #ddd;
    display: flex;
    margin-top: 16px;
    padding-top: 20px;
}

.home-page-content--nav-button {
    font-size: 14px;
    align-self: flex-start;
    text-decoration: none;
    line-height: 1;
    padding: 6px 12px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    color: black;
    border-left: 4px solid #222;
    transition: border-color 0.2s ease;
}

.home-page-content--nav-button:hover {
    border-color: black;
}

.portfolio {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.portfolio-header {
    font-size: 22px;
    border-bottom: 6px solid #ededed;
    margin-bottom: 32px;
    padding-bottom: 8px;
}

.portfolio-entry-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__entry {
    width: 100%;
    text-decoration: none;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
    margin-bottom: 32px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .portfolio__entry {
        width: calc(100% / 2 - 16px);
    }
}

.portfolio__entry-image {
    width: 100%;
    background: black;
}

.portfolio__entry-text {
    flex: 1 0 auto;
    text-decoration: none;
    background: url("/public/img/tile-1.png");
    padding: 16px;
}

.portfolio__entry-name {
    font-size: 12px;
    color: #a1a1a1;
}

.portfolio__entry-description {
    font-weight: 600;
    font-size: 15px;
    color: #3d3d3d;
}

.not-found {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
}

.not-found__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.not-found__header {
    margin-bottom: 16px;
}

.not-found__video-wrap {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
}

.not-found__video-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.not-found__video {
    width: 100%;
    height: 100%;
}
